@{
    ViewData["Title"] = "Js tests";
}

<div class="row">
    <div class="col-md-3">
        <input type="button" onclick="AlertYouAboutWorld()" value="Call whatever func from site.js file" />
    </div>
</div>

@section Scripts{
    <script type="application/javascript" >

    </script>
}